<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBodyShape - Generate your 3D shape model with member weights from your pictures</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <a href="@Href("~/Home/Index")"> 
            <div id="titre_centre"><img style="display:inline-block;" src="~/Images/myshapebody.png" width="500" /></div>
        </a>
        <div class="menu_droit">
            @Html.Partial("_LoginPartial")
        </div>
            <br />
</header>
        @RenderBody()
    <br/><br/><br /><br /><br /><br />
    <footer style="display:block;">
        &copy; @DateTime.Now.Year - MyBodyShape 1.0 - Developped by François & Chérif
        <br />Available on <a target="_blank" style="text-decoration: none;" href="https://play.google.com/store"><span class="platformText">Android </span><img style="display:inline;" src="~/Images/android.png" width="20" height="20" /></a> - Soon available on <a target="_blank" style="text-decoration: none;" href="https://itunes.apple.com/fr/genre/ios-forme-et-sant%C3%A9"><span class="platformText">iOS </span><img style="display:inline;" src="~/Images/ios.png" width="20" height="20" /></a>
    </footer>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>